#contacts{
	width:100%;
	height:140px;
	background-color:#1AC6FF;
	position: relative;
	font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
	
	
	i{
		margin-top: 45px;
		color: white;
	}
	h2{
		font-size: 45px;
		font-weight: 300;
		line-height: 1;
		margin-top: -75px;
    	
    	position: absolute;
    	margin-left: 75px;
    	color: white;
	}
	p{
		font-size: 16px;
		line-height: 25px;
		font-weight:100;
		margin-top: -30px;
		margin-left: 80px;
		color: white;

	}
	button{
		background-color: transparent;
		color: white;
		margin-top: 50px;
		width: 184.5px;
		height: 46px;
		border: 1px solid #ffffff;
		border-radius:5px;
	}
	button:hover{
		color: #1AC6FF;
		background-color: #ffffff;
		transition: 0.5s;
	}
}